.catalog{
    &__form{
        max-width: 332px;
        width: 100%;
    }
    &__form-fixed{
        position: fixed;
        z-index: 1;
        box-sizing: border-box;
        padding: 24px;
        width: 100%;
        max-width: 332px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        background: #FFFEFB;
    }
    &__form-label{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        line-height: 13px;
        font-family: inherit;
    }
    &__form-label-title{
        display: flex;
        margin: 0;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
    }
    &__form-label-required{
        width: 4px;
        height: 4px;
        background-color: #FF8484;
        border-radius:50%;
    }
    
    &__form-error{
        font-size: 8px;
        line-height: 10px;
        color: #FF8484;
        height: 10px;
        margin-bottom:2px;
    }
    &__form-input{
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 10px 16px 11px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        margin: 4px 0;
        font-size: 12px;
        font-family: inherit;
    }
    
    &__form-input:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    
    &__form-input::placeholder{
        color: #B4B4B4;
    }
    &__form-button{
        margin-top: 14px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        background-color: #7BAE73;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        width: 100%;
        padding: 10px 0 11px;
    }

    &__form-button:hover{
        cursor: url("./src/assets/images/catalog__cursor.svg"), pointer;
    }
    
    .disabled{
        background-color: #EEEEEE;
        color: #B4B4B4;
    }
    &__form-textarea{
        margin: 4px 0;
        outline: none;
        -moz-appearance: none;
        resize: none;
        font-family: inherit;
        font-size: 12px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        padding: 10px 16px;
    }

    &__form-textarea::placeholder{
        color: #B4B4B4;
    }
}