@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
          url('./src/assets/fonts/SourceSansPro-Regular.woff') format('woff2'),
          url('./src/assets/fonts/SourceSansPro-Regular.woff2') format('woff')
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src:
          url('./src/assets/fonts/SourceSansPro-SemiBold.woff') format('woff2'),
          url('./src/assets/fonts/SourceSansPro-SemiBold.woff2') format('woff')
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
          url('./src/assets/fonts/inter-v11-latin-regular.woff') format('woff2'),
          url('./src/assets/fonts/inter-v11-latin-regular.woff2') format('woff')
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:
          url('./src/assets/fonts/inter-v11-latin-600.woff') format('woff2'),
          url('./src/assets/fonts/inter-v11-latin-600.woff2') format('woff')
}
